services:
  postgres:
    image: postgres:16
    container_name: nest_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "2345:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend-lab3:
    build: .
    container_name: nest_app
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://user:password@postgres:5432/mydb?schema=public"
      NODE_ENV: production
    env_file: 
      - .env.production
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  pgdata:
